.testimonial-section {
  background: linear-gradient(to bottom right, #002fff, #007bff);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cta p.small {
  font-size: 14px;
  color: #fff;
}

.cta h2 {
  font-size: 28px;
  margin: 10px 0;
}

.cta-btn {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: white;
 
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.testimonials-container {
  background-color: #fff;
  color: #000;
  margin: 40px auto;
  padding: 40px 20px;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.testimonials-container h4 {
  color: #ff007a;
  font-size: 14px;
  margin-bottom: 5px;
}

.testimonials-container h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.testimonial-card {
  position: relative;
  padding: 20px;
}

.testimonial-card p {
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.testimonial-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-info h5 {
  font-size: 18px;
  margin: 0;
}

.testimonial-info span {
  font-size: 14px;
  color: #666;
}
